body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

pre {
  width: fit-content;
}

.api-result {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}
